:root {
  --color-primary: #1f2937;
  --color-secondary: #e5e7eb;
  --color-title-secondary: #f9faf8;
  --height-header: 60px;
  --space-responsive-medium: 40px;
  --space-responsive-small: 20px;
  --color-cta: #3b82f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin-bottom: 30px;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 10px 0px;
}

footer {
  justify-content: center;
  padding: 20px;
  font-size: 12px;
}

header {
  position: fixed;
  width: 100%;
  height: var(--height-header);
  top: 0;
  padding: 0px var(--space-responsive-medium);
}

header .logo {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: bold;
  padding: 10px 0;
  transition: color 0.3s ease;
  position: relative;
}

nav li a::after {
  width: 0;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-cta);
  transition: width 0.3s ease;
}

nav li a:hover::after {
  width: 100%;
}

section {
  width: 100%;
  padding: 80px 40px;
  gap: 20px;
}

section > .hero-inner {
  display: flex;
  align-items: center;
}

section > .quote-inner {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

section > .cta-inner {
  display: flex;
  background-color: #3b82f6;
  color: white;
  padding: 40px 60px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 150px;
  text-align: center;
  color: white;
}

.header-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
}

.secondary-text {
  font-size: 18px;
  color: var(--color-secondary);
}

.hero {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  justify-content: space-between;
  align-items: center;
  margin-top: var(--height-header);
}

.hero-left {
  flex: 1;
  flex-direction: column;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--color-title-secondary);
}

.hero-right {
  display: flex;
  flex: 1;
}

.hero-button {
  display: block;
  background-color: var(--color-cta);
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0px;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-right .hero-img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.info {
  text-align: center;
}

.info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.info-card p {
  color: var(--color-primary);
}

.info-card {
  width: 100px;
  text-align: center;
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.card-image:hover {
  transform: scale(1.05); /* zoom léger (5%) */
}

.quote {
  background-color: #e5e7eb;
  font-style: italic;
  font-size: 20px;
  color: var(--color-primary);
}

.quote-author {
  text-align: right;
  font-weight: bold;
}

.cta a {
  background-color: var(--color-cta);
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.cta h3 {
  color: var(--color-title-secondary);
}

.cta p {
  margin-top: 5px;
  color: var(--color-secondary);
}

.hero-button:hover,
.cta a:hover {
  background-color: white;
  color: var(--color-cta);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
  header {
    position: relative;
    height: unset;
    padding: 0px var(--space-responsive-small);
  }

  section {
    padding: 50px var(--space-responsive-small);
  }
  section.hero {
    padding-top: 35px;
  }

  .header-inner.inner {
    gap: 5px;
  }

  .hero-button {
    margin: 20px auto;
  }

  .inner {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .hero {
    margin-top: unset;
  }
  .hero-left,
  .hero-right {
    flex: none;
    width: 100%;
    align-items: center;
  }

  .hero-left h1 {
    font-size: 32px;
  }

  .hero-right .hero-img {
    max-width: 500px;
  }
  .cta-inner.inner {
    padding: 20px;
  }

  .cta-inner.inner p {
    margin-top: 15px;
    margin-bottom: 0px;
  }
}
